@font-face {
	font-family: neutraface-Bold;
	src: url(../fonts/NeutrafaceSlabDisplay-Bold.otf)
}

@font-face {
	font-family: neutraface-Light;
	src: url(../fonts/NeutrafaceSlabDisplay-Light.otf)
}

@font-face {
	font-family: neutraface-Medium;
	src: url(../fonts/NeutrafaceSlabDisplay-Medium.otf)
}

@font-face {
	font-family: neutraface-Stencil;
	src: url(../fonts/NeutrafaceSlabDisplay-Stencil.otf)
}

@font-face {
	font-family: neutraface-Thin;
	src: url(../fonts/NeutrafaceSlabDisplay-Thin.otf)
}