/* CSS file for navbar and header */

/* Prevents scrollbar from shifting webpage a few pixels */
html {  overflow-y: scroll;}

#header {
    margin: 0;
    padding: 0;
    background: #eeeeee; /* A3DEF8*/
    font-weight: bold;	
    font-family: neutraface-Stencil;
    
}

#header ul { list-style-type: none; background: #000000; padding: 0; margin: 0; }
#header > ul {width: 100%;  text-align: center;}
#header li { display: inline;  text-decoration: none; color: white; padding: 2px 15px 2px 5px;}
#header a {text-decoration: none; color: black;}
#header ul a {color: white; text-decoration: none; font-size: 25px; }
#header ul a:hover { background:  white; color: black;	}
#header h1 { font-size: 50px; margin: 0; display: inline-block; }
#header h2 {	font-size: 20px; margin: 0; display: inline-block; }
#header img { display: inline; height: 80px; width: 80px; }
#header #logo { display: inline; height: 80px; width: 80px; }



/* CSS dropdown inspiration from: http://www.mrc-productivity.com/techblog/?p=1049 */
#header li.dropdown {
	width: 130px;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
	margin: 0;
	background-color: cornflowerblue;
	display: block;
}
#header li.dropdown > a:hover {
	color: white;
}
 
#header li.dropdown ul	{ /* hide dropdown when not hovered */
		display: none;  
		height: auto;									
		margin: 0;
		padding: 0; 
		position: absolute; /* Ensures that the menu doesn’t affect other elements */

}

#header li.dropdown:hover {background: cornflowerblue;}
#header li.dropdown a:hover {background: cornflowerblue;}
#header li.dropdown:hover ul { display: block; }
#header li.dropdown:hover ul li { text-align: left; display: block; clear:both; float:left; width: 130px; padding: 0 10px 0 10px;}
#header li.dropdown > a {padding: 0;}
#header li.dropdown:hover ul li:hover { background: cornflowerblue; }





 
 /* Makes dropdown not mess up other elements of page. */
 #header li.dropdown	{
    padding: 0;
	margin: 0;
}

#search {
	display: block;
	clear: both;
	bottom: 0; 	
	padding-top: 50px;
	padding-right: 10px;
	
	}

#search > form { display: inline-block; }
#search input[type=text]{ width: 200px; }
	
	
/* Footer ! */

#footer {
	height: 150px;	
	padding: 60px 0 0 0;
	text-align: center;
	font-family: neutraface-Stencil;
	
}

#adminButton {
	color: red;
	background: cornflowerblue;
	float:right;
	width: 100px;
     text-align: center;
}

#numUnreadMessages {
	float: right;
	padding-top: 5px;
	padding-right: 5px;	
	}
	

#header-right {
	float:right;
	position: relative;
	
	}
	
div.spacer {
	width: 100px;
	display: inline-block;
	}
	
