
/* Prevents scrollbar from shifting webpage a few pixels */
html {  overflow-y: scroll;}

body {
    width: 960px;
    margin: auto;
}
table {
	border-spacing: 10px;
	width: 100%;
}

a {
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: temp;
}


div.recent-quizzed {
	float: left;
}

a.button {
    padding: 3px 6px 3px 6px;
	background: black;
	color: white;
	font-family: Arial;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
}

@font-face {
	font-family: temp;
	src: url(../fonts/NeutrafaceSlabDisplay-Stencil.otf);
}


.quiz {
	width: 750px;
	margin: auto;
}

.submit-button {
	float: right;
}

.right {
	float: right;
	}

.red {
	color: red;
	border-color: red;
}

form.search {
	float: right;
}

.centered {
	width: 500px;
	margin: auto;
	margin-top: 100px;
}

.question-final-cell textarea {
	width: 80%;
}
#profilepic {
	max-height:200px;
	max-width:200px;
}


	
input[type=submit] {
	cursor: pointer;
	background: black;
	color: white;
	border: 0;
	padding: 3px 7px;
	font-weight: bold;
	font-family: Arial;
	font-size: 13px;
	
}
	 
	
button {
	cursor: pointer;
	background: black;
	color: white;
	border: 0;
	margin: 5px 0 5px 0;
	padding: 3px 7px;
	font-weight: bold;
	font-family: Arial;
	font-size: 13px;
	
	}
select {
  background: black;
  color: white;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
	}
	
input[type=text]{
	border-radius: 2px;
}
input[type=password]{
	border-radius: 2px;
}
	
/*I got this little setup from w3schools*/

table.quiz {
	width: 400px;
	}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}



th, td {
	padding: 8px;
}

th {
	text-align: left;
}

td .question-text{
	width: 100%;
}

td .optional{
	width: 100%;
}

td .answer-text{
	width: 100%;
}
table tr:nth-child(even){	background-color: #eee;}
	


.content {
	padding-left: 10px;
}

.announcement {
	margin-top: 30px;
	background: rgb(255, 164, 202);	
	border-radius: 3px;
	text-align: center;
	  
}

.announcement2 {
	margin-top: 30px;
	background: rgb(255, 164, 202);	
	border-radius: 3px;
	text-align: center;
	  
}

.pretty-border {
	text-align: center;
	border: solid;
	border-radius: 7px;
}

.buttonrow {
	padding-top: 10px;
	
}

.buttonrow > div, .buttonrow > form { display: inline-block; }

.text-align-right {
	text-align: right;
	}
	
.content-hi {
	width: 450px;
	margin: auto;
	
	}

.inline {
	display: inline;
	}

	.delete-q {
	padding-left: 10px;
	}
	
#recentActivity{
	border: 2px grey;
	width:500px;
    height:100px;
    background-color:#e7edf4;
    overflow-y: scroll;
    max-width:750px;
    max-height:200px;	
    font-family: Arial;
  	font-size: 13px;
  	font-weight: bold;
  	margin: 10px auto;
  	display: inline-block;
  	position: absolute;
    margin-left: 250px;
    height: 200px;
    list-style:none;
    
}

#recentActivity > li {
	text-align: center;
	list-style:none;
	}
	#recentActivity > h2 {
	text-align: center;
	list-style:none;
	}
	
.padded {
	  padding-left: 100px;
	}
	
.text-center {
	text-align: center;
	}
	
	img{
		width: 40%;
		
	}
.side-by-side {
	  height: 230px;

	}
