/* CSS for the login page. */

body {
    width: 960px;
    margin: auto;
}

table {
	border-spacing: 10px;
	width: 100%;
}

div {
	
}

/*I got this little setup from w3schools*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table tr:nth-child(even){
	background-color: #eee;
}

th, td {
	padding: 8px;
}

th {
	text-align: left;
}

.content {
	padding-left: 10px;
}

a {
	color: black;
}

h1 {
	font-family: temp;
	text-align: center;
}

a.button {
	padding: 5px;
	background: cornflowerblue;
	text-decoration: none;
	font-weight: bold;
}

@font-face {
	font-family: temp;
	src: url(../fonts/NeutrafaceSlabDisplay-Stencil.otf);
}


